{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block heading %}{% endblock %}
{% block content %}

<h2>An open-source search engine for open-source code in the climate field</h2>
<p>
    This is a proof-of-concept for a search engine for open-source code in the energy and climate sector.
</p>

<p>
    To the best knowledge of the maintainer, this project is currently unique because it combines the following aspects:
</p>
<ul>
    <li>it is <a href="{{ URL_CODE_REPOSITORY }}">100% open-source</a> (including the underlying data),</li>
    <li>it references repositories across hosting platforms,</li>
    <li>it has the highest repository coverage to date (since it combines data from the largest open-source indexes in the field),</li>
    <li>it is self-maintaining (i.e., the underlying data is regularly updated automatically to prevent dead links).</li>
</ul>


<h2>Contribution and feedback</h2>
<p>
    The project is open-source and welcomes contributions, you can check its <a href="{{ URL_CODE_REPOSITORY }}">Github here</a>, 
    or get in touch with the maintainer <a href="https://pierrevf.consulting/">here</a> (please also use this to get in touch and suggest features).
</p>

<p>
    The project is currently still a proof-of-concept, with a very rudimentary underlying search engine and basic visual styling (as you could obviously notice).
</p>

<h2>Indexing and scraping methodology</h2>
<p>
    The indexing and scraping methodology is fully transparent on the <a href="{{ URL_CODE_REPOSITORY }}">code repository</a>. 
    It is nevertheless worth knowing that:
</p>
<ul>
    <li>indexing for search is only based upon descriptions and readme files of the repositories,</li>
    <li>search is only made by keywords so far (e.g. adjacent terms are not considered at this stage).</li>
</ul>

{% endblock %}