<!DOCTYPE html>
<html>

    {% include "navbar.html" %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Open-source search for climate applications
            {% endblock %}</title>
        <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>
            {% block heading %}
                Open-source for climate and energy
            {% endblock %}
        </h1>

        {% block content %}
        {% endblock %}
    </body>
</html>