{% extends "base.html" %}
{% block heading %} Search among {{ n_repositories_indexed }} open-source repositories in the climate space {% endblock %}
{% block content %}
<body>
    <div class="center">
        <form id="searchForm" method="post">
            <label for="query">Enter your search query:</label>
            <input type="text" id="query" name="query" required>
            <button type="submit">Search</button>
        </form>
    </div>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var queryValue = document.getElementById("query").value;
            window.location.href = "/ui/results?query=" + encodeURIComponent(queryValue);
        });
    </script>
</body>
</html>
{% endblock %}