{% extends "base.html" %}
{% block heading %} Search among {{ posts|length }} open-source repositories {% endblock %}
{% block content %}
<body>
    <form id="searchForm" method="post">
        <label for="query">Enter your search query:</label><br/>
        <input type="text" id="query" name="query" required><br/>
        <button type="submit">Search</button>
    </form>

    <script>
        document.getElementById("searchForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var queryValue = document.getElementById("query").value;
            window.location.href = "/results?query=" + encodeURIComponent(queryValue);
        });
    </script>
</body>
</html>
{% endblock %}